#info,
#mision,
#valores {
    border: 3px double black;
    float: left;
    margin: 5px;
    padding: 5px;
    width: 400px;
    color: #636b6f;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-top: 40px;
    ;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}



.nav-link {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


.navbar-brand {
    color: darkblue;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.container {
    margin-top: 50px;
}

.table {
    margin-top: 20px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}